#Comprobar en httpd.conf que esta descomentada la linea de carga del modulo mod_rewrite
<ifModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</ifmodule>